/* Animations */

@keyframes wiggle {
	0% {
		border-top-left-radius: 20px;
		border-bottom-left-radius: 5px;
	}
	100% {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 20px;
	}
}

@keyframes big-wiggle {
	0% {
		border-top-left-radius: 200px;
		border-bottom-left-radius: 100%;
	}
	100% {
		border-top-left-radius: 100%;
		border-bottom-left-radius: 200px;
	}
}

@keyframes tongue {
	0% {
		transform: rotate(80deg);
	}
	100% {
		transform: rotate(100deg);
	}
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-5px);
	}
}

@keyframes celebrate {
	0% {
		transform: translateY(0px);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateY(-30px);
	}
}

@keyframes bling {
	0% {
		transform: scale(1);
		color: #000;
	}
	50% {
		transform: scale(1.2);
		color: rgb(253, 207, 0);
	}
	100% {
		transform: scale(1);
		color: #000;
	}
}