.food {
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 1;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: float;
}

.food.steak:after {
	content: "🥩";
}

.food.chicken:after {
	content: "🍗";
}

.food.egg:after {
	content: "🥚";
}
