#root {
	margin: 0 auto;
	text-align: center;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(176, 255, 0);
	background: linear-gradient(
		124deg,
		rgba(176, 255, 0, 1) 0%,
		rgba(255, 255, 255, 1) 38%,
		rgba(255, 255, 255, 1) 58%,
		rgba(0, 119, 8, 1) 100%
	);
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	max-width: 100%;
}

/* Assets */

.arena {
	outline: 5px double #000;
	background: url(./assets/white-waves.webp);
	background-position: 0 0;
	position: relative;

	@media screen and (max-width: 767px) {
		transform: scale(0.7);
		top: -86px;
		margin-bottom: -160px;
	}

	&:after {
		background: rgb(255, 240, 104, 0.2);
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		pointer-events: none;
	}
}

.score {
	font-weight: bold;
	font-family: Impact, "Arial Narrow Bold", sans-serif;
	display: flex;
	justify-content: space-between;
	width: 500px;
	max-width: 80%;
	font-size: 30px;

	@media screen and (max-width: 1027px) {
		p {
			margin: 1rem 0;
		}
	}

	@media screen and (max-width: 767px) {
		font-size: 24px;
	}
}

.bling {
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-name: bling;
}

.effect {
	position: absolute;
	color: red;
	z-index: 1;
	font-weight: bold;
	text-shadow: 0 0 5px #fff;
	opacity: 0;

	&.animate {
		animation-duration: 0.5s;
		animation-iteration-count: 1;
		animation-name: celebrate;
	}
}
