#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.App {
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Animations */

@keyframes wiggle {
	0% {
		border-top-left-radius: 20px;
		border-bottom-left-radius: 5px;
	}
	100% {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 20px;
	}
}

@keyframes tongue {
	0% {
		transform: rotate(80deg);
	}
	100% {
		transform: rotate(100deg);
	}
}

/* Assets */

.arena {
	outline: 5px double #000;
	//background: rgba(217, 255, 192, 0.658);
	background: repeating-conic-gradient(#eee 0% 25%, transparent 0% 50%) 50% / 40px 40px;
	background-position: 0 0;
	position: relative;
}

.score {
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	width: 500px;
}

.snek {
	width: 8px;
	height: 8px;
	background: green;
	position: absolute;
	border: 1px solid darkgreen;
}

.snek.head {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.snek.tail {
	border-radius: none;
	&:not(.stopWiggle) {
		animation-duration: 0.1s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-name: wiggle;
	}
}

.snek.undefined {
	display: none;
}

.snek.left {
	transform: scaleX(-1);
}

.snek.up {
	transform: rotate(-90deg);
}

.snek.down {
	transform: rotate(90deg);
}

.snek.head:after {
	content: "Y";
	display: block;
	transform: rotate(90deg);
	position: absolute;
	color: red;
	right: -8px;
	bottom: -2px;
	font-size: 12px;
	font-weight: bold;
	animation-duration: 0.1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: tongue;
}

.food {
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 1;
}

.food.steak:after {
	content: "🥩";
}

.food.chicken:after {
	content: "🍗";
}

.food.egg:after {
	content: "🥚";
}

/* Screens */

.game-over {
	border: 5px solid red;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	width: 500px;
}

.devTools {
	width: 100%;
}

.devTools > div {
	display: flex;
}

.historyBox {
	display: flex;
	border: 1px solid #aaa;
	flex-direction: column;
	flex: 0 1 50%;
	padding: 1rem;
}

.historyBox ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
