#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

/* Assets */

.arena {
	border: 5px double #000;
	background: rgba(217, 255, 192, 0.658);
	position: relative;
}

.score {
	font-weight: bold;
}

.snek {
	width: 10px;
	height: 10px;
	background: green;
	position: relative;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.snek.left {
	transform: scaleX(-1);
}

.snek.up {
	transform: rotate(-90deg);
}

.snek.down {
	transform: rotate(90deg);
}

.snek:after {
	content: "Y";
	display: block;
	transform: rotate(90deg);
	position: absolute;
	color: red;
	right: -8px;
	bottom: -2px;
	font-size: 12px;
	font-weight: bold;
}

.food {
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 1;
}

.food.chicken:after {
	content: "🍗";
}

.food.egg:after {
	content: "🥚";
}

/* Screens */

.game-over {
	border: 5px solid red;
	padding: 2rem;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
}
